.mediumShadow {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}
html {
  background-color: #152041;
  height: 100vh;
  width: 100vw;
}
.image {
  display: block;
  margin: 0 auto;
}

.image[press='1'] {
  animation: press 1s 1;
}

@keyframes press {
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.transition {
  transition: all 0.3s linear;
}
.transitionSm {
  transition: all 0.3s linear;
}
.transition:hover {
  transition: all 0.3s linear;
  position: relative;
  top: 10px;
  left: 2px;
}
.transitionSm:hover {
  transition: all 0.3s linear;
  position: relative;
  top: 10px;
  left: 0px;
}
.homeBg {
  background: url(assets/images/bg.png) no-repeat center center fixed;
  background-size: cover;
}
