.mediumShadow {
  box-shadow: 6px 7px 15px 8px rgba(46,46,46,0.75);
  -webkit-box-shadow: 6px 7px 15px 8px rgba(46,46,46,0.75);
  -moz-box-shadow: 6px 7px 15px 8px rgba(46,46,46,0.75);
}
html {
  height: 100vh;
  width: 100vw;
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  /* bottom, image */
  url(assets/images/bg2.jpg);
  background-size: cover;
}
.image {
  display: block;
  margin: 0 auto;
}

.image[press='1'] {
  animation: press 1s 1;
}

@keyframes press {
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.transition {
  transition: all 0.3s linear;
}
.transitionSm {
  transition: all 0.3s linear;
}
.transition:hover {
  transition: all 0.3s linear;
  position: relative;
  top: 10px;
  left: 2px;
}

.transitionSm:hover {
  transition: all 0.3s linear;
  position: relative;
  top: 10px;
  left: 0px;
}

.homeBg {
  
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  /* bottom, image */
  url(assets/images/bg2.jpg);
  background-size: cover;
}

#fadein {
  font-size: 21px;
  text-align: center;
  animation: fadein 3s linear forwards;
  -moz-animation: fadein 3s linear forwards; /* Firefox */
  -webkit-animation: fadein 3s linear forwards; /* Safari and Chrome */
  -o-animation: fadein 3s linear forwards; /* Opera */
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  75% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  75% {
    opacity: 1;
  }
}

